*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main {
  gap: 1rem;
  display: grid;
  grid-template-columns: repeat(4, minmax(1fr));

  grid-template-areas:
    "first"
    "second"
    "third";
    margin: 0.5rem;
}

.first {
  grid-area: first;
  border: 1px solid rgba(229, 229, 229, 1);
  border-radius: 0.5rem;
  padding: 1rem;
  
}

.second {
  grid-area: second;
  border: 1px solid rgba(229, 229, 229, 1);
  border-radius: 0.5rem;
  padding: 1rem;
}

.third {
  grid-area: third;
  border: 1px solid rgba(229, 229, 229, 1);
  border-radius: 0.5rem;
  padding: 1rem;
}

.first > p,
.second > p {
  
  font-size: 1.125rem;
}

.flex {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 0.5rem;
}

.flex p {
  --tw-text-opacity: 1;
  color: rgba(115, 115, 115, var(--tw-text-opacity));
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.43;
  /* margin:  0.5rem; */
}
.product{
  margin-bottom: 1rem;
  
}
.total {
  margin-bottom: 1rem;
}
.border-b {
  border-bottom: 1px solid;
}
.border-gray-200 {
  --tw-border-opacity: 1;
  border-color: rgba(229, 229, 229, var(--tw-border-opacity));
}

.text-gray-700 {
  --tw-text-opacity: 1;
  color: rgba(64,64,64,var(--tw-text-opacity));
  margin-bottom: 1rem;
}

.third button {
  width: 100%;
  background-color: rgb(121 56 242);
  color: rgb(255, 255, 255);
  font-family: inherit;
}

.total.detail {
  font-weight: 700;
  font-size: 0.875rem;
  
}

.btn {
  outline: 0;
  border: 0;
  border-radius: 8px;
  padding: 0.5rem 2rem;
  margin: 1rem 0;
  text-align: center;
  font-size: 1.4rem;
}

.status {
  display: flex;
  flex-direction: row;
  position: relative;
  margin: 2rem 0;
}

.auth,
.info,
.save {
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 0%;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.d1,
.d2 {
  top: 12px;
  right: calc(-50% + 20px);
  left: calc(50% + 20px);
  position: absolute;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: auto;
}
.s1,
.s2 {
  border-top-style: solid;
  border-top-width: 1px;
  display: block;
  border-color: #bdbdbd;
}

.iconNumber {
  display: flex;
  width: 1.5rem;
  height: 1.5rem;
  background-color: rgb(150, 104, 194);
  border-radius: 100%;
  color: #ffff;
  justify-content: center;
  align-items: center;
  position: relative;
}

@media screen and (min-width: 640px) {
  .flex.name,
  .flex.email,
  .flex.mobile {
    justify-content: flex-start;   
  }
}

@media screen and (min-width: 768px) {
  .main {    
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    grid-template-rows: repeat(2, minmax(0, 1fr));
    grid-template-areas:
      "first first first second"
      "third third third third";
    padding: 1rem 2rem;
  }

}
