.main {
  gap: 1rem;
  display: grid;
  grid-template-columns: repeat(4, minmax(1fr));

  grid-template-areas:
    "first"
    "second"
    "third";
}

.first {
  grid-area: first;
  border: 1px solid rgb(151, 150, 150);
  border-radius: 0.5rem;

  line-height: 0;
}

.first > p,
.second > p {
  padding: 0.5rem;
}

.second {
  grid-area: second;
  border: 1px solid rgb(151, 150, 150);
  border-radius: 0.5rem;

  line-height: 0;
}

.third {
  grid-area: third;
  border: 1px solid rgb(151, 150, 150);
  border-radius: 0.5rem;

  padding: 1rem;
}

.third button {
  width: 100%;
  background-color: rgb(121 56 242);
  color: rgb(255, 255, 255);

  font-family: inherit;
}

.name,
.email,
.mobile,
.product,
.course,
.total {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0.5rem;
}
.product,
.total {
  padding-bottom: 0;
  margin: 0 1rem 0 1rem;

  border-bottom: 1px solid rgb(151, 150, 150);
}
.course {
  margin: 0 1rem 0 1rem;
}

.btn {
  outline: 0;
  border: 0;
  border-radius: 8px;
  padding: 0.5rem 2rem;
  margin: 1rem 0;
  text-align: center;
  font-size: 1.4rem;
  background-color: var(--color-btn);
}

.status {
  display: flex;
  flex-direction: row;
  position: relative;
  margin: 2rem 0;
}

.auth,
.info,
.save {
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 0%;
  position: relative;

  display: flex;
  flex-direction: column;
  align-items: center;
}
.d1,
.d2 {
  top: 12px;
  right: calc(-50% + 20px);
  left: calc(50% + 20px);
  position: absolute;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: auto;
}
.s1,
.s2 {
  border-top-style: solid;
  border-top-width: 1px;
  display: block;
  border-color: #bdbdbd;
}

@media screen and (min-width: 640px) {
  .name,
  .email,
  .mobile {
    justify-content: flex-start;
    gap: 1rem;
  }
}

@media screen and (min-width: 768px) {
  .main {
    gap: 1rem;
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    grid-template-rows: repeat(2, minmax(0, 1fr));
    grid-template-areas:
      "first first first second"
      "third third third third";
      padding: 1rem 2rem;
  }
}
