@font-face {
    font-family: 'iransans.woff';
    font-weight: 400;
    font-style: normal;
    src: url('/fonts/iransans.woff');
}

@font-face {
    font-family: 'iransans.woff';
    font-weight: 700;
    font-style: normal;
    src: url('/fonts/iransans.woff');
}

body,button{
    font-family: 'iransans.woff';
}