*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
}

:root {
  --color-btn: rgb(140, 113, 190);
  --color-body: #333333;
  --clore-boxbackgroun: #a8c0f1;
}
html{
  font-size: 62.5%;
  color: var(--color-body);
}

body{
  font-size: 1.4rem;
}

h1{
  font-size: 2.5;
}

h2{
  font-size: 2.2rem;
}

@media screen and (min-width:1024px) {
  body{
    font-size: 1.8rem;
  }

  h1{
    font-size: 5rem;
  }

  h2{
    font-size: 3.5rem;
  }
}

/* BUTTON */

.btn {
  outline: 0;
  border: 0;
  border-radius: 8px;
  padding: 0.5rem 2rem;
  margin: 1rem 0;
  text-align: center;
  font-size: 1.4rem;
  background-color: var(--color-btn);
}

/* BOX-CART */

.block-plan {
  display: grid;
  gap: 2rem;
  align-items: center;
}

.box {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-wrap: nowrap;
  background-color: var(--clore-boxbackgroun);

  border-radius: 5px;
  padding: 0.5rem;
  margin: 1rem;
}

.box img {
  max-width: 100%;
  object-fit: cover;
  object-position: 50% 50%;
  height: 15rem;
}

.box .footerbox {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0.2rem 0.1rem;
  align-items: center;
}

@media screen and (min-width: 1024px) {
  .block-plan {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .block-plan {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* NAVBAR */

.main-header {
  background-color: #d4d0d0;
  position: sticky;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  top: 0;
}

.login__cart {
  display: flex;
  flex-direction: row;
  margin: 0 0 0 10px;
  font-size: 1.2rem;
  justify-content: space-between;
  gap: 5rem;
  top: 0;
  align-items: flex-start;
}

.login__cart .basket {
  padding: 1rem;
}

.login {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;
  padding: 1rem;
}

.login img {
  width: 50px;
  height: 20px;
  /* align-items: center; */
}

.signin {
  text-decoration: none;
  font-size: 1.2;
  /* padding-bottom: 0.5rem; */
}
a {
  text-decoration: none;
}

.fas {
  padding-top: 0.7rem;
}

.badge {
  background-color: red;
  font-size: 0.75rem;
  padding: 0.1rem 0.5rem;
  vertical-align: top;
  margin: 1rem -2.3rem;
  color: #fff;
  border-radius: 100%;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.nav__list {
  width: 100%;
  display: flex;
  flex-direction: column;

  font-size: 1.4rem;
  padding: 0.5rem 1rem 0.5rem;
  max-height: 0;
  overflow: hidden;
  opacity: 0;
  transition: all 0.4s ease-out;
}

.nav.nav__expanded .nav__list {
  max-height: 100vh;

  opacity: 1;
}

.nav__item {
  display: block;
}

.nav__item > a {
  text-decoration: none;
  display: block;
  font-size: 1.2rem;
}

@media screen and (min-width: 768px) {
  .nav__list {
    flex-direction: row;
    align-items: center;
    width: auto;
    opacity: 1;
    max-height: 100%;
  }

  .nav__item {
    margin-left: 2rem;
  }

  .nav__item > a {
    font-size: 1.4rem;
  }

  .nav__toggler {
    display: none;
  }
}

/* TOGGLER */
.nav__toggler {
  cursor: pointer;
}

.bar {
  width: 25px;
  height: 3px;
  border-radius: 5px;
  margin: 5px 5px;
  background-color: #000;
  transition: all 0.4s ease-out;
}

.nav.nav__expanded .bar-one {
  transform: rotate(-45deg) translate(-8px, 5px);
  margin: 8px 0;
}

.nav.nav__expanded .bar-two {
  opacity: 0;
  transform: translateX(-20px);
}

.nav.nav__expanded .bar-three {
  transform: rotate(45deg) translate(-5px, -9px);
}

/* CART PAGE */
.container{
  display: flex;
  flex-direction: row;  
  background-color: rgb(219, 223, 215);
}

.box1{
  display: grid;
  grid-template-rows: 20fr 30fr;
  grid-template-areas:
  "pic description" 
  "footer footer "
  ;
  gap: 1rem;
  background-color: rgb(184, 196, 172);
  width: 75%;
  height: 30rem;
  padding: 1rem ;
  margin: 2rem 4rem 2rem 0.5rem;
  border-radius: 10px;
  
}

.item1{
  grid-area:pic ;  
  background-color: rgb(71, 167, 167);
  margin-bottom: 0;
}

.item1 img{
  /* object-fit: contain; */
  width: 300px;
  height: 208px;
}
.item2{
  grid-area: description;
  padding: 1rem;
  background-color: rgb(230, 167, 96); 
  
}

.item3{
  border-top: 2px solid #505252;
  grid-area: footer;
  
}

.quantity{
  margin-top: 1rem;
  display: flex;
  flex-direction: row;
  
  justify-content: center;
  background-color: cadetblue;
  border-radius: 0.5rem;
  /* border:solid 1px rgba(179, 173, 173, 0.315); */
  width:10rem;
  height: 4rem;
  
}

.minus{
  width:3rem ;
  border:0;
  border-radius:0 0.5rem 0.5rem 0;
  
}

.count{  
  max-width: 4rem;
  margin: 0;
  text-align: center;
  border: 1px solid #7f8383;
  border-top: 0;
  border-bottom: 0;
}

.plus{
  width: 3rem;
  border: 0;
  border-radius: 0.5rem 0 0 0.5rem;
}



.box2{
  display: flex;
  flex-direction: row;
  background-color: rgb(139, 171, 231);
  width: 25%;
  height: 300px;
  padding: 1rem;
  margin: 2rem 0 0.5rem 4rem;
  border-radius: 10px;
}

@media screen and (max-width:768px){
  .container{
    flex-direction: column;
  }
  .box2{
    width: 100%;
  }
}
